{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>Кол-во новостей: {{ posts|length }}</h3>

    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <hr>
    {% if posts %}
        <table>
        <tr>
            <td>Заголовок</td>
            <td>Дата создания</td>
            <td>Текст</td>
        </tr>

        {% for post in posts|dictsortreversed:"created_at" %}
        <tr>
            <td>{{ post.title|censor }}</td>
            <td>{{ post.created_at|date:'d.m.Y' }}</td>
            <td>{{ post.text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}
    {# Previous pages info #}  
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Current page info #}
    {{ page_obj.number }}

    {# Next pages info #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}
