{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load cache %}
{% load i18n %}
{% block content %}
    {% cache 300 search_header %}
    <h2>{% trans 'Поиск новостей' %}</h2>
    {% endcache %}

    <!-- Форма фильтрации -->
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">{% trans 'Искать' %}</button>
    </form>

    {% cache 300 search_results %}
    <h3>{% trans 'Результаты поиска: ' %}</h3>
    <ul>
        {% for post in posts %}
            <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
        {% empty %}
            <p>{% trans 'Новостей не найдено.' %}</p>
        {% endfor %}
    </ul>
    {% endcache %}

   {% cache 300 search_pagination %}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   {% endcache %}
{% endblock content %}